/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1; /* Couleur de fond */
    font-family: 'El Messiri', sans-serif; /* Google font "EL Messiri" */
}

/* HEADER */
header {
    background-color: #b81e44; /* Couleur du header */
    font-family: 'Pattaya', sans-serif;
    display: flex; /* Place les éléments à l'horizontal */
    justify-content: space-around; /* Place les éléments de chaque coté de la page */
    padding: 10px 5px;
}

header #titreSite {
    align-self: center; /* Centre la div du titre sur l'axe vertical */
}

header #titreSite h1 {
    font-size: 1.4em;
    color: #fff;
    font-weight: normal;
}

header #titreSite span {
    font-size: 0.8em;
    margin-left: 30px;
}

header ul {
    position: relative; /* Permet au menu déroulant de se référer à sont élément parent */
    width: 150px;
    list-style-type: none;
}

header #imgMenu li {
    width: 65px;
    margin: 0 auto;
    cursor: pointer;
}

header #imgMenu p {
    width: 65px;
    height: 65px;
}

header #imgMenu img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Arrondi l'image */
    box-shadow: 0 0 3px 1px #000;
}

/* Menu déroulant de l'image */
header #menuDeroulant {
    position: absolute; /* Place le menu déroulant hors du flux */
    left: 0; right: 0; /* place et re-dimensionne le cadre du menu */
    background-color: #fff;
    display: none; /* Fait disparaître le menu */
}

header #menuDeroulant li {
    width: 100%;
}

header #imgMenu li:hover ul {
    display: block; /* Fait apparaitre le menu lors du passage de la souris sur l'image */
}

/* Pour toute les section des page de l'admistration */
section {
    margin: 15px;
}

/* Cadre de connexion à l'espace d'administration */
#cadreConnexion {
    width: 500px;
    margin: 10% auto;
    text-align: center;
}

#cadreConnexion p {
    font-size: 1.3em;
}

#cadreConnexion form {
    width: 300px;
    box-shadow: 0 0 20px #000;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    margin: 20px auto;
}

#cadreConnexion p:nth-child(2) {
    margin-top: 10px;
}

#cadreConnexion input[type="text"], #cadreConnexion input[type="password"] {
    width: 85%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
}

p.messageErreur {
    color: #d41515;
}

/* Lien de la page */
span.lienPage a, form input[type="submit"].lienPage {
    display: inline-block;
    background-color: #da2250;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: inset 0 0 10px #790018;
    text-transform: uppercase;
    transition: all 0.5s;
}

span.lienPage a {
    margin: 20px 0 0 50px;
}

span.lienPage a:hover, form input[type="submit"].lienPage:hover {
    background-color: #790018;
    box-shadow: inset -3px -3px 5px #000;
    text-shadow: 2px 2px 1px #222222;
}

/* Section de la page admin */
#accueilAdmin {
    display: flex; /* Place les éléments à l'horizontal */
    justify-content: space-around; /* Place les éléments de chaque coté de la page */
    margin: 15px;
}

#accueilAdmin article {
    margin: 15px;
}

/* Cadre de la liste des chapitres */
article#listeChapitres {
    flex: 4;
}

article#listeChapitres form input[type="submit"].lienPage {
    display: block;
    width: 110px;
    margin: 20px auto 0 auto;
}

form input[type="submit"].lienPage {
    border: none;
    cursor: pointer;
}

article#listeChapitres table { /* La liste des chapitres est affiché dans un tableau */
    display: block;
    height: 580px;
    overflow-y: scroll;
    border-collapse: collapse; /* fussionne les bordures du tableau */
}

article#listeChapitres table tr { /* Ligne du tableau */
    height: 100px;
}

article#listeChapitres table tr:nth-child(odd) {
    background-color: #ececec;
}

article#listeChapitres table tr:nth-child(even) {
    background-color: #ffffff;
}

article#listeChapitres table tr:hover {
    background-color: #e9e7e7;
}

article#listeChapitres table td {
    border: 1px solid #dbdbdb;
    padding: 0 15px;
}

article#listeChapitres table td:first-child { /* Premiéres colonne du tableau (checkbox) */
    width: 5%;
    text-align: center;
}

article#listeChapitres table td:nth-child(2) { /* Deuxième colonne du tableau (titre du chapitre) */
    width: 70%;
}

article#listeChapitres table td:nth-child(3) { /* Troisième colonne du tableau (date et heure d'ajout) */
    width: 12%;
}

article#listeChapitres table td:nth-child(4) { /* Troisième colonne du tableau (nombre de commentaires sur le chapitre) */
    width: 12%;
}

article#listeChapitres table td a.titreChapitre {
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
}

article#listeChapitres table td a.titreChapitre:hover {
    text-decoration: underline;
}

article#listeChapitres table td:nth-child(2) p {
    font-size: 0.8em;
    color: #1a1a1a;
    margin-left: 10px;
}

article#listeChapitres table td:nth-child(2) ul, section#commentaires article ul {
    display: flex;
    margin-top: 10px;
}

article#listeChapitres table td:nth-child(2) ul li, section#commentaires article ul li {
    list-style-type: none;
}

article#listeChapitres table td:nth-child(2) ul li + li, section#commentaires article ul li + li {
    border-left: 1px outset #c4c4c4;
}

article#listeChapitres table td:nth-child(2) ul li a, section#commentaires article ul li a {
    color: #b81e44;
    text-decoration: none;
    font-size: 0.8em;
    padding: 0 5px;
}

article#listeChapitres table td:nth-child(2) ul li a:hover, section#commentaires article ul li a:hover {
    color: #7b303e;
    text-decoration: underline;
}

/* Cadre des activités du blog */
article#activitesBlog {
    flex: 1;
    text-align: center;
}

article#activitesBlog p {
    margin-top: 20px;
}

article#activitesBlog .infoModificationChapitre {
    font-weight: bold;
}

/* Page chapitre */
#formulaireChapitre form {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#formulaireChapitre p {
    width: 80%;
    margin: 20px auto 0 auto;
}

#formulaireChapitre input[type="text"] {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #ccc;
    padding: 3px;
    font-size: 1.1em;
}

/* Commentaires */
section#commentaires h1 {
    font-size: 0.9em;
    text-align: center;
    margin: 2% 0;
}

section#commentaires h1 span {
    font-size: 1.8em;
}

section#commentaires article {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

section#commentaires article + article {
    margin: 0 auto;
    border-top: 1px solid #000;
    padding-top: 20px;
}

section#commentaires article:nth-child(even) {
    background-color: #dddada;
}

section article .headerCommentaire {
    display: flex;
    justify-content: space-between;
}

section article .headerCommentaire span {
    font-weight: bold;
}

section article .contenuCommentaire {
    border-top: 1px dotted #999;
    margin-top: 5px;
    padding: 10px;
}