header h1 {
    position: relative;
}

/* Ajoute "administration" dans le titre du header */
header h1::after {
    content: "administration";
    display: block;
    left: 40%;
    padding-top: 5px;
    font-size: 0.4em;
    font-weight: 400;
    color: #e5e5e5;
    position: absolute;
}

/* Pour toute les sections des pages de l'admistration */
section {
    margin: 15px;
}

/* Cadre de connexion à l'espace d'administration */
#frameConnection {
    width: 350px;
    margin: 5% auto 0 auto;
    text-align: center;
}

#frameConnection p {
    font-size: 1.3em;
}

#frameConnection form {
    width: 300px;
    box-shadow: 0 0 20px #000;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    margin: 20px auto;
}

#frameConnection p:nth-child(2) {
    margin-top: 10px;
}

#frameConnection input[type="text"], #frameConnection input[type="password"] {
    width: 85%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
}

p.errorAdmin {
    color: #d41515;
}

/* Lien de la page */
span.linkPage a, form input[type="submit"].linkPage {
    display: inline-block;
    margin-top: 20px;
    background-color: #0c648a;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: inset 0 0 10px #000;
    text-transform: uppercase;
    transition: all 0.5s;
}

span.linkPage a {
    margin: 20px 0 0 50px;
}

span.linkPage a:hover, form input[type="submit"].linkPage:hover {
    background-color: #002637;
    box-shadow: inset -3px -3px 5px #000;
    text-shadow: 2px 2px 1px #222222;
}

/* Section de la page admin */
#indexAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listTickets {
    width: 80%;
    margin: 15px 0;
}

#listTickets form input[type="submit"].linkPage {
    display: block;
    width: 110px;
    margin-top: 20px;
}

form input[type="submit"].linkPage {
    border: none;
    cursor: pointer;
}

/* Cadre liste des chapitres */
#frameDisplayTickets {
    overflow-y: scroll;
    height: 60vh;
}

#tableTickets {
    display: table;
    width: 99.9%;
    border-collapse: collapse;
}

.tableRowTicket {
    display: table-row;
}

#tableTickets .tableRowTicket:hover {
    background-color: rgba(61, 103, 153, 0.1); /* Couleur de fond lors du passage de la souris */
}

.tableRowTicket:nth-child(odd) {
    background-color: #f0f0f0; /* Couleur ligne pair du tableau */
}

.tableRowTicket:nth-child(even) {
    background-color: #fff; /* Couleur ligne impair du tableau */
}

.tableCellTicket {
    display: table-cell;
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    vertical-align: middle;
    text-align: center;
}

.tableCellTicket a.titleTicket {
    font-family: 'Pattaya', sans-serif;
    font-size: 1.8em;
    color: #000;
    text-decoration: none;
}

.tableCellTicket a.titleTicket:hover, .tableCellTicket li a:hover {
    text-decoration: underline;
}

.tableCellTicket p {
    font-size: 0.8em;
    color: #1a1a1a;
    margin-left: 10px;
}

.tableCellTicket li {
    display: inline-block;
    list-style-type: none;
    margin-top: 10px;
}

.tableCellTicket li + li {
    border-left: 1px outset #999;
}

.tableCellTicket li a {
    color: #b81e44;
    text-decoration: none;
    font-size: 0.8em;
    padding: 0 5px;
}

.tableCellTicket li a:hover {
    color: #7b303e;
}

.tableCellTicket:nth-child(1) {
    width: 3%;
}

.tableCellTicket:nth-child(2) {
    text-align: left;
}

.tableCellTicket:nth-child(3) {
    width: 18%;
}

.tableCellTicket:nth-child(4) {
    width: 18%;
}

/* Cadre des commentaires signaler */
#commentsSignal {
    min-width: 13%;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.8);
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    margin: 10px 0;
}

#commentsSignal form {
    padding: 5px;
    font-weight: bold;
}

#commentsSignal form input[type="submit"] {
    margin-top: 10px;
}

/* Page chapitre */
#ticket h1 {
    text-align: center;
}

#formTicket form {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#formTicket p {
    width: 80%;
    margin: 20px auto 0 auto;
}

#formTicket input[type="text"] {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #ccc;
    padding: 3px;
    font-size: 1.1em;
}

/* Commentaires */
#comments {
    background-color: #fff;
    width: 80%;
    margin: 1% auto;
    padding: 1% 0;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
}

#comments h1 {
    font-size: 0.9em;
    text-align: center;
    padding: 1% 0;
}

#comments h1 span {
    font-size: 1.8em;
}

#comments article {
    width: 70%;
    margin: 0 auto;
    padding: 10px 15px;
}

#comments article + article {
    border-top: 1px inset #ccc;
}

#comments article.comment:nth-child(even) {
    background-color: #f1f1f1;
}

section#comments article ul {
    display: flex;
    margin-top: 10px;
}

section#comments article ul li {
    list-style-type: none;
}

section#comments article ul li + li {
    border-left: 1px outset #c4c4c4;
}

section#comments article.comment ul li a {
    color: #b81e44;
    text-decoration: none;
    font-size: 0.8em;
    padding: 0 5px;
}

section#comments article.comment ul li a:hover {
    color: #7b303e;
    text-decoration: underline;
}

.headerCommentaire {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    border-bottom: 1px dotted #999;
}

.contentComment {
    padding-top: 10px;
}

/* Commentaires signaler */
section#comments article.commentAlert {
    background-color: #aa0000;
}

section#comments article.commentAlert ul li a {
    color: #c4c4c4;
    text-decoration: none;
    font-size: 0.8em;
    padding: 0 5px;
}

section#comments article.commentAlert ul li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .tableCellTicket:nth-child(3) {
        width: 25%;
    }

    .tableCellTicket:nth-child(4) {
        width: 25%;
    }
}

@media screen and (max-width: 900px) {
    #listTickets {
        width: 100%;
    }

    .headerCommentaire {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    /* Cadre liste des chapitres */
    #tableTickets, .tableCellTicket {
        display: block;
    }

    .tableRowTicket {
        display: flex;
        flex-wrap: wrap;
    }

    .tableCellTicket:nth-child(1), .tableCellTicket:nth-child(2) p, #listTickets form input[type="submit"].linkPage {
        display: none;
    }

    .tableCellTicket:nth-child(2) {
        width: 100%;
    }

    .tableCellTicket:nth-child(2) a {
        display: block;
    }

    /* Selectionne les deux derniers élements d'un chapitre */
    .tableCellTicket:nth-last-child(-n+2) {
        flex: 1;
    }

    #formTicket p {
        width: 99%;
    }

    section#comments article ul {
        display: block;
        margin-top: 0;
    }

    section#comments article li {
        font-size: 1.2em;
    }

    section#comments article ul li + li {
        border-left: none;
    }
}
